<div>
  <mat-button-toggle #toggle value="bold">Bold</mat-button-toggle>
  value: {{ toggle.value }} checked: {{ toggle.checked }}
  <br />
  <mat-button-toggle #toggles checked>Bold</mat-button-toggle>
  checked: {{ toggles.checked }}
  <br />
  <mat-button-toggle-group
    name="fontStyle"
    aria-label="Font Style"
    #toggleGroup="matButtonToggleGroup"
  >
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>

  {{ toggleGroup.value }}

  <br />
  <mat-button-toggle-group
    name="fontStyle"
    aria-label="Font Style"
    #toggleGroups="matButtonToggleGroup"
    multiple
  >
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>

  {{ toggleGroups.value }}
</div>
