<section class="example-section">
  <label class="example-margin">Align:</label>
  <mat-radio-group [(ngModel)]="labelPosition">
    <mat-radio-button class="example-margin" value="after"
      >After</mat-radio-button
    >
    <mat-radio-button class="example-margin" value="before"
      >Before</mat-radio-button
    >
  </mat-radio-group>
</section>
