<div>
  <mat-progress-spinner value="50"></mat-progress-spinner>
  <mat-progress-spinner value="100"></mat-progress-spinner>
  <mat-spinner *ngIf="showSpin" value="100" color="warn"></mat-spinner>
  <button (click)="showSpineer()">Show Spinner</button>
</div>
