<button mat-button>Click me !</button>
<button mat-raised-button>Click me !</button>
<button mat-flat-button>Click me !</button>
<button mat-stroked-button>Click me !</button>
<br />
<button mat-icon-button>Click me !</button>
<button mat-fab>Click me !</button>
<button mat-mini-fab>Click me !</button>
<button mat-stroked-button>Click me !</button>
<br />
<button color="primary" mat-button>Click me !</button>
<button color="accent" mat-raised-button>Click me !</button>
<button color="warn" mat-flat-button>Click me !</button>
<button color="accent" mat-stroked-button>Click me !</button>
<br />
