<div>
  <mat-menu #matMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">
      FrontEnd
    </button>
    <button mat-menu-item>
      Backend
    </button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="matMenu">Open Menu</button>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>
      Angular
    </button>
    <button mat-menu-item>
      React
    </button>
  </mat-menu>
</div>
