<div style="margin-left: 3em;">
  <span matBadge="10" matBadgeOverlap="false">notifications</span>
  <br />
  <span
    matBadge="10"
    matBadgePosition="below before"
    matBadgeSize="small"
    matBadgeColor="primary"
    matBadgeOverlap="false"
    >notifications</span
  >
  <br />
  <span
    matBadge="10"
    matBadgePosition="below after"
    matBadgeSize="medium"
    matBadgeColor="warn"
    matBadgeOverlap="false"
    >notifications</span
  >
  <br />
  <span
    matBadge="10"
    matBadgePosition="above before"
    matBadgeSize="large"
    matBadgeColor="accent"
    matBadgeOverlap="false"
    >notifications</span
  >
  <br />
  <span
    [matBadge]="notifications"
    [matBadgeHidden]="notifications === 0"
    matBadgePosition="above before"
    matBadgeSize="large"
    matBadgeColor="accent"
    matBadgeOverlap="false"
    >notifications</span
  >
  <br />
  <span
    [matBadge]="notification"
    [matBadgeHidden]="notification === 0"
    matBadgePosition="above before"
    matBadgeSize="large"
    matBadgeColor="accent"
    matBadgeOverlap="false"
    >Hide Notifications</span
  >
</div>
