<mat-sidenav-container>
  <mat-sidenav #sideNav [(opened)]="opened" mode="side"
    ><mat-nav-list>
      <mat-list-item routerLink="/button-component" routerLinkActive="active"
        >Button Component</mat-list-item
      >
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item
        href=""
        routerLink="/toggle-btn-component"
        routerLinkActive="active"
        >Toggle Button Component</mat-list-item
      >
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item href=""
        ><a routerLink="/mat-icon" routerLinkActive="active"
          >Mat Icons</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-badge" routerLinkActive="active"
          >Mat Badge</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/auto-complete" routerLinkActive="active"
          >Auto Complete</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-card" routerLinkActive="active"
          >Mat Card</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-checkbox" routerLinkActive="active"
          >Mat Checkbox</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-date" routerLinkActive="active"
          >Mat Date</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-divider" routerLinkActive="active"
          >Mat Divider</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-expansion" routerLinkActive="active"
          >Mat Expansion</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-input" routerLinkActive="active"
          >Mat Input</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-list" routerLinkActive="active"
          >Mat List</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-popup" routerLinkActive="active"
          >Mat Popup</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-progress" routerLinkActive="active"
          >Mat Progress</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-radio" routerLinkActive="active"
          >Mat Radio</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-select" routerLinkActive="active"
          >Mat Select</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-stepper" routerLinkActive="active"
          >Mat stepper</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-sidenav" routerLinkActive="active"
          >Mat SideNav</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-table" routerLinkActive="active"
          >Mat Table</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-tabs" routerLinkActive="active"
          >Mat Tabs</a
        ></mat-list-item
      >
      <mat-list-item href=""
        ><a routerLink="/mat-tool-bar" routerLinkActive="active"
          >Mat ToolBar</a
        ></mat-list-item
      >
    </mat-nav-list></mat-sidenav
  >
  <!--mode="push" "side"-->
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary" class="navbar">
        <span>Mohit</span>
        <div>
          <span>Priyanka </span>
          <span>Mayank</span>
          <span
            ><a routerLink="/login" routerLinkActive="active">Login</a></span
          >
          <span
            ><a routerLink="/registration" routerLinkActive="active"
              >Registration</a
            ></span
          >
          <span
            ><button mat-raised-button (click)="sideNav.toggle()">
              <mat-icon>menu</mat-icon>
            </button></span
          >
          <span
            ><button mat-mini-fab (click)="opened = !opened">
              <mat-icon>menu</mat-icon>
            </button></span
          >
        </div>
      </mat-toolbar>
    </div>

    <!--<button mat-raised-button (click)="sideNav.open()">
      Open</button
    ><button mat-raised-button (click)="sideNav.close()">
      Close
    </button> -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
