<div>
  <mat-list>
    <mat-list-item>Hi</mat-list-item>
    <mat-list-item>Bye</mat-list-item>
  </mat-list>
  <mat-nav-list>
    <mat-list-item href="">Hi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item href="">Bye</mat-list-item>
  </mat-nav-list>
</div>
